body {
    background: url(cars.jpg) no-repeat center fixed;
    background-size: cover;
    background-color: #ccc;
  }
  
#countDown {
  color: yellow;
}

  #wrapper {
    border: 1px solid#00bcd4;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 680px;
  }
  #wrapper input[type="radio"] {
    display: none;
  }
  #wrapper input[type="radio"][value="login"]:checked ~ .form-wrapper {
    margin-left: 50%;
  }
  #wrapper input[type="radio"][value="login"]:checked ~ .form-wrapper .input-hidden {
    margin-top: -220px;
  }
  #wrapper input[type="radio"][value="login"]:checked ~ .form-wrapper .button-hidden button:first-child {
    margin-top: -44px;
  }
  
  .labelWrapper {
    float: left;
    height: 100%;
    padding-top: 240px;
    text-align: center;
    width: 50%;
  }
  .labelWrapper:first-of-type {
    background-color: #eee;
  }
  .labelWrapper label {
    border: 1px solid #00bcd4;
    color: #00bcd4;
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    transition: all 0.5s;
    width: 150px;
  }
  .labelWrapper label:hover {
    background-color: #00bcd4;
    color: #fff;
  }
  
  .form-wrapper {
    background-color: #fff;
    border: 1px solid #ccc;
    left: 20px;
    padding: 0 40px;
    position: absolute;
    top: -50px;
    transition: margin 0.5s;
    width: 300px;
  }
  
  .form-wrapper form {
    height: 450px;
    overflow: hidden;
    padding: 30px 0;
    position: relative;
  }
  .form-wrapper form input {
    border-bottom: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-bottom: 35px;
    padding: 5px 10px;
    width: 100%;
  }
  .form-wrapper form input:focus {
    outline: none;
  }
  .form-wrapper form .input-hidden {
    transition: margin 0.5s;
  }
  .form-wrapper form .button-hidden {
    background-color: #00bcd4;
    border-radius: 5px;
    bottom: 30px;
    height: 44px;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .form-wrapper form .button-hidden button {
    background: transparent;
    border: 0;
    color: #fff;
    display: block;
    transition: margin 0.5s;
    padding: 13px 0;
    width: 100%;
  }
  